@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap');

.inputComponent{
    display: flex;
    flex-direction: column-reverse;
    gap: .4rem;
    width: 20rem;
    height: fit-content;

    &__helperText{
        font: normal 400 1rem/1.4rem 'Noto Sans JP';

        color: #828282;


    }
    
    &__label{
        font: normal 400  1.2rem/1.7rem "Noto Sans JP";
        color: #333333;
    }
    
    &__inputContainer{
        font: normal 500 1.4rem/2rem 'Noto Sans JP';
        color: #828282;
        height: 5.6rem;
        padding: 1.8rem 1.2rem;


        border: 0.1rem solid #828282;
        border-radius: 0.8rem;
        
        &:hover{
            border-color: #333333;
        }
        
        &:focus-within{
            border-color: #2962FF;
            &  + span{
                color: #2962FF;
            }             
        }
    }

    &__input{
        font: normal 500 1.4rem/2rem 'Noto Sans JP';
        color: #828282;
        width: 100%;
        height: 100%;

        resize: none;
        word-wrap: break-word;
        overflow: hidden;
    }

}


.inputComponent{
    &__inputContainer--disabled{
        border: none;
        
        padding: 1.8rem 1.2rem;

        background: #F2F2F2;
        /* Gray 5 */
        border: 1px solid #E0E0E0;
        border-radius: 8px;
    }

    &__input--disabled{
        font: normal 500 1.4rem/2rem 'Noto Sans JP';

        width: 100%;
        height: 100%;
        

    }
}

.inputComponent{
    &--error{
        display: flex;
        flex-direction: column-reverse;
        gap: .4rem;
        width: 20rem;
        height: fit-content;
        color:#D32F2F;

        &:hover{
            .inputComponent__label--error{
                color: #333333;
            }
            .inputComponent__inputContainer--error{
                border-color: #333333;
            }
        }

        &:focus-within{
            color:#D32F2F;
        }
    }

    &__helperText--error{
        font: normal 400 1rem/1.4rem 'Noto Sans JP';
        color:#D32F2F
    }

    &__label--error{
        font: normal 400 1.2rem/1.7rem 'Noto Sans JP';

        color: #D32F2F;
    }

    &__inputContainer--error{
        border: 0.1rem solid #D32F2F;
        border-radius: 0.8rem;

    }
}

.inputComponent__inputContainer,
.inputComponent__inputContainer--error,
.inputComponent__inputContainer--disabled{
    display: flex;
    align-items: center;
    gap: 1.4rem;

}


.inputComponent__inputContainer{
    &--sm{
        width: 20rem;
        height: 4rem;
        padding: 1rem 1.2rem;

    }

    &--md{
        width: 20rem;
        height: 5.6rem;
        padding: 1.8rem 1.2rem;
    }
}


.inputComponent--fullWidth{
    width: 100%;
}

.inputComponent__inputContainer--fullWidth{
    width:100%;
}


.inputComponent__inputContainer--multiRows{
    height: fit-content;
}
.inputComponent__input--multiRows{
    padding: none;
    word-wrap:break-word;
    overflow:hidden;
}   