@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap');

.inputComponent{
    display: flex;
    flex-direction: column-reverse;
    gap: .4rem;
    width: 20rem;
    height: 7.7rem;


    &__helperText{
        font: normal 400 1rem/1.4rem 'Noto Sans JP';
        color: #828282;

    }
    &__label{
        font: normal 400  1.2rem/1.7rem "Noto Sans JP";

        color: #333333;
    }
    &__input{
        font: normal 500 1.4rem/2rem 'Noto Sans JP';

        padding: 1.8rem 1.2rem;

        color: #828282;

        border: 1px solid #828282;
        border-radius: 8px;

        &:hover{
            border-color: #333333;
        }

        &:focus{
            border-color: #2962FF;

            + label{
                color: #2962FF;
            }
        }
        
        &:disabled{
            background: #F2F2F2;
    
            border: 1px solid #E0E0E0;
            border-radius: 8px;
        }
    }

    &--error{
        color: #D32F2F;
        span{
            color: inherit;
        }
        input{
            border-color: #D32F2F;
            &:focus{
                border-color: #D32F2F;
            }
            &:focus + label{
                color: #D32F2F;
            }

            &:hover{
                border-color: #333333;
            }
            &:hover + label{
                color: #333333;
            }
        }
        label{
            color: #D32F2F;
        }

    }

    /* input::-moz-placeholder  {
        font-family: 'Material Icons Outlined';
    }
    
    input:-ms-input-placeholder {
        font-family: 'Material Icons Outlined';
    }
    
    input:-moz-placeholder {
        font-family: 'Material Icons Outlined';
    } */
}