@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap');

.inputComponent{
    display: flex;
    flex-direction: column-reverse;
    gap: .4rem;
    width: 20rem;
    height: fit-content;

    
    &__label{
        font: normal 400  1.2rem/1.7rem "Noto Sans JP";
        color: #333333;
    }
    
    &__inputContainer{
        font: normal 500 1.4rem/2rem 'Noto Sans JP';
        color: #828282;
        height: 5.6rem;

        border: 0.1rem solid #828282;
        border-radius: 0.8rem;
        
        &:hover{
            border-color: #333333;
        }
        
        &:focus-within{
            border-color: #2962FF;
            &  + span{
                color: #2962FF;
            }             
        }
    }

    &__input{
        font: normal 500 1.4rem/2rem 'Noto Sans JP';
        padding: 1.8rem 1.2rem;

        width: 100%;
        height: 100%;

    }

}


.inputComponent{
    &__inputContainer--disabled{
        border: none;
    }

    &__input--disabled{
        font: normal 500 1.4rem/2rem 'Noto Sans JP';
        padding: 1.8rem 1.2rem;

        width: 100%;
        height: 100%;
        background: #F2F2F2;
        /* Gray 5 */
        border: 1px solid #E0E0E0;
        border-radius: 8px;

    }
}

.inputComponent{
    &--error{
        display: flex;
        flex-direction: column-reverse;
        gap: .4rem;
        width: 20rem;
        height: fit-content;
        color:#D32F2F;

        &:hover{
            color: #333333;
        }

        &:focus-within{
            color:#D32F2F;
        }
    }

    &__label--error{
        color: inherit;
    }

    &__inputContainer--error{
        border: 0.1rem solid #D32F2F;
        border-radius: 0.8rem;

        &:hover{
            border-color: #333333;
        }
        
        &:focus-within{
            border-color: #D32F2F;
            &  + span{
                color: #D32F2F;
            }             
        }
    }
}

